In [5]:
import pandas as pd

In [6]:
# Read the csv file
vine_df = pd.read_csv("resources/vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R8MEA6IGAHO0B,5,0,0,N,Y
1,R31LOQ8JGLPRLK,5,0,1,N,Y
2,R2Y0MM9YE6OP3P,5,0,0,N,Y
3,RRB9C05HDOD4O,4,0,0,N,Y
4,R26I2RI1GFV8QG,2,0,0,N,Y
...,...,...,...,...,...,...
104970,R2CDRVDUKB5Z9P,5,23,27,N,N
104971,R1DVLTZFXXOX9,5,10,11,N,N
104972,R1GHKKZMHAHQC1,5,13,13,N,N
104973,R227G6T5B26DVC,5,58,61,N,N
104974,R44WS2RSQQ0HR,4,37,38,N,N

In [7]:
# Filter DataFrame to locate helpful reviews
threshold_df = vine_df[vine_df['total_votes']>=20]
threshold_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
9,RBEMQ29WJBHYG,5,164,168,N,Y
83,R2JK5Y8D5MXAGP,1,5,121,N,Y
195,R13W3EMIUV120L,4,288,294,N,Y
217,R30TJ8POYNVCRE,5,15,21,N,N
296,R1H5Y9Z2DHRNVO,1,4,95,N,Y
...,...,...,...,...,...,...
104967,R2Y5CQEWBI145K,2,48,57,N,N
104968,RWYG4S02ONH29,5,85,95,N,N
104970,R2CDRVDUKB5Z9P,5,23,27,N,N
104973,R227G6T5B26DVC,5,58,61,N,N
104974,R44WS2RSQQ0HR,4,37,38,N,N

In [8]:
# Filter Dataframe on : helpful votes/total votes >= 0.5
fifty_df = threshold_df[(threshold_df["helpful_votes"] / threshold_df["total_votes"]>= 0.5)]
fifty_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
9,RBEMQ29WJBHYG,5,164,168,N,Y
195,R13W3EMIUV120L,4,288,294,N,Y
217,R30TJ8POYNVCRE,5,15,21,N,N
530,R1LK03P7BCJEJD,1,31,35,N,Y
625,RBXUICKGHL685,1,48,52,N,N
...,...,...,...,...,...,...
104967,R2Y5CQEWBI145K,2,48,57,N,N
104968,RWYG4S02ONH29,5,85,95,N,N
104970,R2CDRVDUKB5Z9P,5,23,27,N,N
104973,R227G6T5B26DVC,5,58,61,N,N
104974,R44WS2RSQQ0HR,4,37,38,N,N

In [9]:
# Retrieve rows where a review was written as part of the Vine Program
paid_df = fifty_df[fifty_df["vine"] == "Y"]
paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41600,R3BOQTLUU3Y4L8,4,42,55,Y,N
42191,RWF03LXVXC22A,3,396,445,Y,N
42845,REPU28WG1VZUE,5,242,281,Y,N
43054,R1D6REC9HPJVQY,4,31,41,Y,N

In [10]:
# Retrieve rows where a review was not part of the Vine Program
free_df = fifty_df[fifty_df["vine"] == "N"]
free_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
9,RBEMQ29WJBHYG,5,164,168,N,Y
195,R13W3EMIUV120L,4,288,294,N,Y
217,R30TJ8POYNVCRE,5,15,21,N,N
530,R1LK03P7BCJEJD,1,31,35,N,Y
625,RBXUICKGHL685,1,48,52,N,N
...,...,...,...,...,...,...
104967,R2Y5CQEWBI145K,2,48,57,N,N
104968,RWYG4S02ONH29,5,85,95,N,N
104970,R2CDRVDUKB5Z9P,5,23,27,N,N
104973,R227G6T5B26DVC,5,58,61,N,N
104974,R44WS2RSQQ0HR,4,37,38,N,N

In [11]:
fivestar_paid_df= paid_df[paid_df['star_rating'] == 5]
fivestar_paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
42845,REPU28WG1VZUE,5,242,281,Y,N

In [12]:
fivestar_unpaid_df= free_df[free_df['star_rating']== 5]
fivestar_unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
9,RBEMQ29WJBHYG,5,164,168,N,Y
217,R30TJ8POYNVCRE,5,15,21,N,N
681,R2E16WLZKP78GO,5,19,21,N,Y
1382,R1EN4PGQIFSENW,5,27,28,N,Y
1418,RXZWQU66AHIYG,5,24,25,N,Y
...,...,...,...,...,...,...
104851,R31R2KMUH6GXQJ,5,25,25,N,N
104964,R3RBOY97X8379Y,5,41,45,N,N
104968,RWYG4S02ONH29,5,85,95,N,N
104970,R2CDRVDUKB5Z9P,5,23,27,N,N
104973,R227G6T5B26DVC,5,58,61,N,N

## Complementary Analysis

In [20]:
# Calculate total Vine reviews in initial dataset
total_vine = vine_df[vine_df['vine']== "Y"].count()
total_vine["vine"]

18

In [19]:
# Calculate total non Vine reviews in initial dataset
total_free = vine_df[vine_df['vine']== "N"].count()
total_free["vine"]

104957

In [27]:
# Get count for useful Vine reviews
useful_vine = paid_df['vine'].count()
useful_vine

4

In [28]:
# Get count for useful non Vine reviews
useful_free = free_df['vine'].count()
useful_free

1064

In [31]:
# Calculate useful Vine reviews percentage
use_vine = (useful_vine/total_vine)*100
use_vine["vine"]

22.22222222222222

In [32]:
# Calculate useful non Vine reviews percentage
nuse_vine = (useful_free/total_free)*100
nuse_vine["vine"]

1.0137484874758236